@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}

body {
	@apply bg-gray-500 bg-opacity-75
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/DMSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/DMSans-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-display: optional;
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
}